<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="bgtoolbar">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="center">ไมมูเนาะห์เครปญี่ปุ่นไส้ทะลัก</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/1.jpg" alt="">
          <ion-label>
            <div class="center">
              เครปกรอปวิปครีมโอริโอ้ไมโล<br>
              ราคา 69 บาท <br>
              <ion-button size="small">
                <ion-icon name="cart-outline"></ion-icon>
                สั่งซื้อ
              </ion-button>
            </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="../../../assets/img/2.jpg" alt="">
          <div class="center">
            พิซซ่า สาหร่าย ปูอัด ไข่กุ้ง<br>
            ราคา 55 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="../../../assets/img/3.jpg" alt="">
          <div class="center">
            ไข่ไก่ ลูกเกด เยลลี่ เม็ดสี<br>
            ราคา 45 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="../../../assets/img/4.jpg" alt="">
          <div class="center">
            เครปทูโทน <br>
            ราคา 50 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="../../../assets/img/5.jpg" alt="">
          <div class="center">
            พริกเผา ไก่หยอง ปูอัด ไข่กุ้ง ชีส  <br>
            ราคา 60 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="../../../assets/img/6.jpg" alt="">
          <div class="center">
            นูเทล่า ฝอยทอง อัลมอนด์ เยลลี่ โกโก้ครั้น <br>
            ราคา 55 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="../../../assets/img/7.jpg" alt="">
          <div class="center">
            นูเทล่า ฝอยทอง เม็ดมะม่วง เยลลี่ เม็ดสี <br>
            ราคา 55 <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <img src="../../../assets/img/8.jpg" alt="">
          <div class="center">
            นูเทล่า ฝอยทอง เยลลี่  <br>
            ราคา 40 บาท <br>
            <ion-button size="small">
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
